@import "./colors";
@import "./components.scss";
@import "./AuthPage.scss";
@import "./HomePage.scss";
@import "./LoadingPage.scss";


html, body, #root{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}